extends ./layout/base.jade

block append content
    .wrapper.player
        #player
    .wrapper.search
        input#search(type="text" tabindex="1" placeholder=">_ press CTRL + F to filter videos ..." spellcheck="false" title="Filter videos" value="" name="q" autocomplete="off" role="search" aria-label="search")
        div#resultCount
            span
                | 0 videos
            lable
                | videos
        div#tags
            ul
                li.title
                    b Popular tags:
                each tag in locals.popularTags.length ? locals.popularTags : null
                    li=tag
                li.title
                    b Popular speakers:
                each speaker in locals.popularSpeaker.length ? locals.popularSpeaker : null
                    li=speaker
    .wrapper
        ul#video-list
            each talk in locals.talks.length ? locals.talks : null
                include list/talk.jade
    .wrapper
        h2 Contributing
        p
            | Have you seen an awesome talk which is currently missing on this website?
            | Drop me an email at <a href="mailto:m@matchilling.com">m@matchilling.com</a> (<a href="https://www.matchilling.com">PGP</a>),
            | send a tweet <a href="https://twitter.com/MatChilling">@matchilling</a> or create a pull request
            | on <a href="https://github.com/matchilling/org-programmingtalks">github.com/matchilling/org-programmingtalks</a>.
