head
block head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Programming Talks
    meta(content='An unopinionated, curated list of the best programming talks out there.', name='description')
    link(rel='canonical', href='https://www.programmingtalks.org/')
    link(rel='stylesheet', href='assets/css/main.min.css')
    script(src='assets/app.js')
