header {
    margin: 25px auto;
    a {
        color: #ffffff;
        text-decoration: none;
    }
    h1 {
        &::before {
            content: '>_';
            margin-right: 25px;
        }
        color: #ffffff;
        font-family: monospace;
        font-size: 1em;
        letter-spacing: -.02em;
        margin: 0;
        font-weight: 400;
    }
}
