@import 'reset';
@import 'card';
@import 'header';
@import 'headline';
a {
    color: #4078c0;
    :hover {
        color: #4078c0;
    }
}
body {
    background-color: #f5f5f5;
    -moz-font-feature-settings: liga on;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.4;
    margin: 0 0 150px;
    text-rendering: optimizeLegibility;
}
p {
    font-family: Georgia, 'Cambria', 'Times New Roman', Times, serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.003em;
    line-height: 1.58;
}
ul {
    &.nav {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin: 0 0.5em 0 0;
        }
    }
}
.page-footer {
    margin: 0 auto;
    max-width: 700px;
}
.page-header {
    margin: 0;
    width: 100%;
    background-color: #222;
    text-align: center;
    padding: 2em 0 3em;
}
.wrapper {
    margin: 0 auto;
    max-width: 700px;
    &.player {
        background: #222222;
        max-width: 100%;
        margin: 0;
        &.player-large {
            height: 450px;
        }
        #player {
            border-radius: 10px 10px 0 0;
            display: block;
            margin: 0 auto;
        }
    }
    &.search {
        margin: 60px auto 75px;
    }
}
#video-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
input#search {
    margin: 0;
    padding: 2%;
    border: 1px solid #dddddd;
    width: 96%;
    font-size: 1em;
    border-radius: 5px;
}
div#resultCount {
    color: #b3b3b3;
    display: inline-block;
    float: left;
    font-size: 0.9em;
    width: 25%;
    margin: 10px 0 25px;
    span {
        margin: 0 5px 0 15px;
    }
}
div#tags {
    float: left;
    display: inline-block;
    width: 75%;
    color: #b3b3b3;
    font-size: 0.9em;
    margin: 10px 0 25px;
    ul {
        margin: 0 5px 0 15px;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin: 0 5px;
            &:hover:not(.title) {
                cursor: pointer;
            }
        }
    }
}
